/* styles.css */
form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f73;
}

a {
    color: #008CBA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
